server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ecommerce
    username: root
    password: root
mail:
  host: smtp.gmail.com
  port: 587
  username: pranayreddy672@gmail.com
  password: pranay@@12
  properties:
    mail:
      smtp:
        auth: true
        starttls:
          enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ecommerce_secret_key
file:
  upload-dir: uploads
